footer {
    width: 100%;
    background-color: #FFA42AD9;
    height: 142px;
    // position: absolute;
    // bottom: 0;
    a {
        text-decoration: none;
    }
    p, small {
        color: #fff;
    }
}