header {
    width: 100%;
    height: 70px;
    background-color: #fff;
    display: flex;
    .l-header {
        margin: 13px 0 13px 92px;
    }
    ul{
        width: 612px;
        height: 29px;
        display: flex;
        float: right;
        margin-left: 385px;
        li {
            list-style: none;
            font-size: 20px;
            color: #EF9926;
            padding: 20px 0 20px 68px;
        }
    }
    a {
        text-decoration: none;
    }
}